@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/*** GENERAL ***/
/* Import de la font Roboto depuis Google Fonts */
 body * {
   font-family: 'Syne', sans-serif;
 }
 h1 {
   text-align: center;
   font-size: 38px;
   font-style: normal;
   font-weight: 800!important;
   line-height: normal;
   text-transform: uppercase;
 }
 h2 {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
 }
 p {
   color: #000;
   text-align: center;
   font-family: 'Syne';
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }
 .btn-primary {
  color: #FFF;
  background-color: #E0B9B4!important;
  border-radius: 5px;
  font-size: 15px!important;
  line-height: 37px!important;
  margin-top: 25px;
} 
.btn-primary a {
  color: #FFF;
  background-color: #E0B9B4!important;
}
.btn-primary:hover {
   background-color: #C02E44!important;
}

/****** ACCUEIL ******/
 /*** HEADER ***/
.header h1 {
   color: #3B8E46;
}

/** ENRJ plantes ***/
.wp-block-group.alignfull.enrgplantes.is-layout-flow.wp-block-group-is-layout-flow {
  padding-left: 0;
}
.enrgplantes .bg-marron {
  width: 100vw;
  margin-top: -14vh;
  object-fit: cover;
}
.enrgplantes .bg-blanc {
  width: 100vw;
  margin-top: -40vh;
  object-fit: cover;
}
.enrgplantes .content {
  z-index: 100;
  position: absolute;
  top: 33%;
  left: 35%;
}
.enrgplantes h2 {
   text-align: center;
   font-size: 30px;
   font-style: normal;
   text-transform: none;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 35px;
}

/*** Les GOUTS ***/
.gouts {
  background-image:url(../images/bg-blanc-forme-arrondie.svg);
  background-position: bottom -92vh center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gouts h2 {
   text-align: center;
   font-size: 30px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-transform: uppercase;
}
.wp-container-6,
.wp-container-9 {
  width: 70%;
}
.gouts h3 {
   color: #FFF;
   text-transform: uppercase;
   text-align: center;
   font-family: 'Syne';
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   margin: 102px 49px!important;
}
 .wp-block-heading.has-text-align-center.pamp.has-ast-global-color-4-color.has-text-color.has-link-color.wp-elements-d2262d80137ec96827c75e2fb381bc32 {
   margin: 73px 18px 74px!important;
}
.wp-block-heading.has-text-align-center.framb.has-ast-global-color-4-color.has-text-color.has-link-color.wp-elements-3f4f25c349d67106ccd02372b5217a23 {
   margin: 73px!important;
}
 .wp-block-column.bg-fraise.is-layout-flow.wp-block-column-is-layout-flow {
   background: url(../images/bg-fraise-1.png), lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .wp-block-column.bg-pamp.is-layout-flow.wp-block-column-is-layout-flow {
   background: url(../images/bg-pamplemousse.png), lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .wp-block-column.bg-framb.is-layout-flow.wp-block-column-is-layout-flow {
   background: url(../images/bg-framboise.png), lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .wp-block-column.bg-citron.is-layout-flow.wp-block-column-is-layout-flow {
   background: url(../images/bg-citron.png), lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;
 }

 /*** AVIS ***/
 .wp-block-group.alignfull.avis.is-layout-constrained.wp-container-22.wp-block-group-is-layout-constrained {
    width: 82%;
    margin: 0 auto;
    padding: 100px 0;
 }
 .avis .wp-image-162 {
   width: 250px!important;
 }
 .avis .wp-image-164 {
   width: 130px!important;
 }
 .avis .wp-image-165 {
   width: 240px!important;
 }
 .avis p {
   font-size: 16px;
 }
 .avis h3 {
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
 }


/****** NOUS RENCONTRER ******/
/*** Header ***/
.header .content {
  width: 50%;
  margin-top: -7vh;
}

 /*** EQUIPE ***/
.wp-block-group.alignfull.equipe.has-white-background-color.has-background.is-layout-flow.wp-block-group-is-layout-flow {
padding-left: 0;
padding-right: 0;
}
 .equipe .bg-blanc {
  width: 100vw;
  margin-top: -47vh;
  object-fit: cover;
}
.equipe h2 {
  margin-bottom: 35px;
  margin-top: -29vh;
  z-index: 100;
  position: relative;
}
.wp-block-columns.alignfull.membres.is-layout-flex.wp-container-6.wp-block-columns-is-layout-flex {
  width: 70%;
  z-index: 100;
  position: relative;
}
.equipe .membres figure {
  margin: 20px 0;
}
.equipe .branche-g {
  position: absolute;
  top: 54em;
  right: 3vw;
}

/*** CONTACT FORM ***/
.contact {
  background-image:url(../images/feuilles-plante-form.svg);
  background-position: bottom 25vh left 33%;
  background-size: 15%;
  background-repeat: no-repeat;
}
.contact h2 {
  text-transform: none;
}
.contact .wpcf7-form.init {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 40px;
 }
.woocommerce-js input[type=email],
.woocommerce-js input[type=text],
.woocommerce-js textarea {
  padding: 1.5em;
  border-radius: 7px;
 }
.wpcf7 form>div, .wpcf7 form>p {
  text-align: left;
}
label {
  line-height: 2.5em;
 }
.contact .wpcf7-form-control.wpcf7-submit.has-spinner.btn-primary {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 55%;
}


 /****** COMMANDE ******/
.woocommerce-breadcrumb {display: none;}
.commande h2 {
  font-weight: 700;
  text-align: left;
  text-transform: none;
 }
.commande form {
  display: flex;
  gap: 10px;
 }

 .quantity.buttons_added {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
 }

 /* Styles pour l'input number */
.commande .quantity input[type="number"] {
  color: #000;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 60%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin: 0;
}

 /* Styles pour le conteneur des boutons de quantité */
 .commande .quantity-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44%;
    height: 60%;
    background-color: #DC9F96;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* .woocommerce-js .quantity .minus,
.woocommerce-js .quantity .plus {
  width: 27px;
} */

/* Style pour le bouton '+' */
.commande .quantity-plus {
  border-bottom: 1px solid #fff;
  padding: 0;
}
.commande .quantity-controls .plus {
  color: #fff;
  border: 0;
  margin: 0;
}

/* Style pour le bouton '-' */
.commande .qquantity-minus {
  padding: 0;
}
.commande .quantity-controls .minus {
  color: #fff;
  border: 0;
  margin: 0;
}

/* Style pour le bouton commander */
.commande button[type="submit"] {
  background-color: #E0B9B4;
  color: #fff;
  height: 100%;
  font-size: 15px;
  padding: 10px 44px;
 }

.commande .wpcf7-form.init {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
 }
 .commande .wpcf7.js h3 {
  color: #FFF;
  font-size: 30px;
 }
 .commande .wpcf7.js p {
  text-align: left;
  color: #FFF;
  font-size: 20px;
 }
 

 /*** FOOTER ***/
 .site-footer p {
  font-size: 16px;
 }