@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/*** GENERAL ***/
/* Import de la font Roboto depuis Google Fonts */
 body * {
   font-family: 'Syne', sans-serif;
 }
 h1 {
   text-align: center;
   font-size: 38px;
   font-style: normal;
   font-weight: 800!important;
   line-height: normal;
   text-transform: uppercase;
 }
 h2 {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
 }
 p {
   color: #000;
   text-align: center;
   font-family: 'Syne';
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }
 .btn-primary {
  color: #FFF;
  background-color: #E0B9B4!important;
  border-radius: 5px;
  font-size: 15px!important;
  line-height: 37px!important;
  margin-top: 25px;
} 
.btn-primary a {
  color: #FFF;
  background-color: #E0B9B4!important;
}
.btn-primary:hover {
   background-color: #C02E44!important;
}

/****** ACCUEIL ******/
/*** HEADER ***/
.header h1 {
   color: #3B8E46;
}

/** ENRJ plantes ***/
.entry-content[ast-blocks-layout] .alignfull {
  padding-right: 0;
  padding-left: 0;
}
.enrgplantes .bg-marron {
  width: 100vw;
  margin-top: -14vh;
  object-fit: cover;
}
.enrgplantes .bg-blanc {
  width: 100vw;
  margin-top: -44vh;
  object-fit: cover;
}
.enrgplantes .content {
  z-index: 100;
  position: absolute;
  top: 35%;
  left: 40%;
}
.enrgplantes h2 {
   text-align: center;
   font-size: 30px;
   font-style: normal;
   text-transform: none;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 35px;
}

/*** Les GOUTS ***/
.gouts {
  background-image:url(../images/bg-blanc-forme-arrondie.svg);
  background-position: bottom -92vh center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gouts h2 {
   text-align: center;
   font-size: 30px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-transform: uppercase;
}
.wp-container-6,
.wp-container-9 {
  width: 70%;
}
.gouts h3 {
   color: #FFF;
   text-transform: uppercase;
   text-align: center;
   font-family: 'Syne';
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   margin: 102px 49px!important;
}
 .wp-block-heading.has-text-align-center.pamp.has-ast-global-color-4-color.has-text-color.has-link-color.wp-elements-d2262d80137ec96827c75e2fb381bc32 {
   margin: 73px 18px 74px!important;
}
.wp-block-heading.has-text-align-center.framb.has-ast-global-color-4-color.has-text-color.has-link-color.wp-elements-3f4f25c349d67106ccd02372b5217a23 {
   margin: 73px!important;
}
 .wp-block-column.bg-fraise.is-layout-flow.wp-block-column-is-layout-flow {
   background: url(../images/bg-fraise-1.png), lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .wp-block-column.bg-pamp.is-layout-flow.wp-block-column-is-layout-flow {
   background: url(../images/bg-pamplemousse.png), lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .wp-block-column.bg-framb.is-layout-flow.wp-block-column-is-layout-flow {
   background: url(../images/bg-framboise.png), lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .wp-block-column.bg-citron.is-layout-flow.wp-block-column-is-layout-flow {
   background: url(../images/bg-citron.png), lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;
 }

 /*** AVIS ***/
 .wp-block-group.alignfull.avis.is-layout-constrained.wp-container-22.wp-block-group-is-layout-constrained {
    width: 82%;
    margin: 0 auto;
    padding: 100px 0;
 }
 .avis .wp-image-162 {
   width: 250px!important;
 }
 .avis .wp-image-164 {
   width: 130px!important;
 }
 .avis .wp-image-165 {
   width: 240px!important;
 }
 .avis p {
   font-size: 16px;
 }
 .avis h3 {
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
 }


/****** NOUS RENCONTRER ******/
/*** Header ***/
.header .content {
  width: 50%;
  margin-top: -7vh;
}

 /*** EQUIPE ***/
.wp-block-group.alignfull.equipe.has-white-background-color.has-background.is-layout-flow.wp-block-group-is-layout-flow {
  padding-left: 0;
  padding-right: 0;
}
 .equipe .bg-blanc {
  width: 100vw;
  margin-top: -14vh;
  object-fit: cover;
}
.equipe .content {
  margin-top: -20%!important;
}
.equipe h2 {
  margin-bottom: 35px;
}
.wp-block-columns.alignfull.membres.is-layout-flex.wp-container-6.wp-block-columns-is-layout-flex {
  width: 70%;
}
.equipe .membres figure {
  margin: 20px 0;
}
.equipe .branche-g {
  position: absolute;
  top: 51em;
  right: 3vw;
}

/*** CONTACT FORM ***/
.contact {
  background-image:url(../images/feuilles-plante-form.svg);
  background-position: bottom 25vh left 33%;
  background-size: 15%;
  background-repeat: no-repeat;
}
.contact h2 {
  text-transform: none;
}
.contact .wpcf7-form.init {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 40px;
 }
.woocommerce-js input[type=email],
.woocommerce-js input[type=text],
.woocommerce-js textarea {
  padding: 1.5em;
  border-radius: 7px;
 }
.wpcf7 form>div, .wpcf7 form>p {
  text-align: left;
}
label {
  line-height: 2.5em;
 }
.contact .wpcf7-form-control.wpcf7-submit.has-spinner.btn-primary {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 55%;
}
.contact .wpcf7-form-control.wpcf7-submit.has-spinner.btn-primary {
  position: absolute;
  left: 20%;
  bottom: 0;
}
.contact .canette {
  margin-top: 90px;
}


 /****** COMMANDE ******/
.commande h2 {
  font-weight: 700;
  text-align: left;
  text-transform: none;
 }
 .woocommerce-js div.product form.cart {
  zoom: 1.3;
}
.commande form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
 }

.commande .quantity.buttons_added {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
 }

 /* Styles pour l'input number */
.commande .quantity input[type="number"] {
  color: #000;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin: 0;
}

 /* Styles pour le conteneur des boutons de quantité */
 .woocommerce-js .quantity .minus, .woocommerce-js .quantity .plus {height: 24px;}
 .commande .quantity-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44%;
    height: 100%;
    background-color: #DC9F96;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* Style pour le bouton '+' */
.commande .quantity-plus {
  border-bottom: 1px solid #fff;
  padding: 0;
}
.commande .quantity-controls .plus {
  color: #fff;
  border: 0;
  margin: 0;
}

/* Style pour le bouton '-' */
.commande .qquantity-minus {
  padding: 0;
}
.commande .quantity-controls .minus {
  color: #fff;
  border: 0;
  margin: 0;
}

/* Style pour le bouton ok */
.commande button[type="submit"] {
  background-color: #E0B9B4;
  color: #fff;
  height: 50px;
  font-size: 15px;
  padding: 10px 43px!important;
  display: inline;
 }

 /*** Formulaire livraison ***/
.commande .wpcf7-form.init {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-items: stretch;
 }
.commande .wpcf7.js h3 {
  color: #FFF;
  font-size: 30px;
 }
.commande .wpcf7.js p {
  text-align: left;
  color: #FFF;
 }
.col-left {
  width: 50%;
  padding-right: 40px;
  border-right: 1px solid #fff;
  height: 500px;
 }
.col-right {
  width: 50%;
  padding-left: 40px;
 }
.wpcf7-form.init input[type=number] {
  max-width: 100%;
  border-radius: 7px;
  height: 76px;
}
.commande .btn {
  position: absolute;
  left: 42%;
  bottom: -20%;
}

 /*** FOOTER ***/
 .site-footer p {
  font-size: 16px;
 }


/************* MEDIA QUERIES ***************/

/***** Ecran 1440px *****/

@media screen and (max-width:1440px) {
  /****** ACCUEIL ******/
  /** ENRJ plantes ***/
  .enrgplantes .bg-blanc {
    margin-top: -33vh;
  }
  .enrgplantes .content {
    top: 33%;
    left: 36%;
  }

  /****** NOUS RENCONTRER ******/
  /*** EQUIPE ***/
  .equipe .branche-g {
    top: 49em;
  }
  /*** CONTACT ***/
  .contact {
    background-position: bottom 24vh left 33%;
  }

  /****** COMMANDE ******/
  /** Produits **/
  .woocommerce-js .quantity .plus {
    width: 29px;
  }
  .woocommerce-js div.product form.cart .button {
    width: 70%;
  }

  /** Livraison **/
  .commande .btn {
    left: 39%;
  }
  .commande button[type="submit"] {
    padding: 10px 5px!important;
  }
}


/***** Ecran 1024px *****/

@media screen and (max-width:1024px) {
  /****** ACCUEIL ******/
  /** HEADER ***/
  .header .wp-image-254 {
    margin-right: 80px;
  }
  /** ENRJ plantes ***/
  .enrgplantes .bg-blanc {
    margin-top: -23vh;
  }
  .enrgplantes .content {
    top: 33%;
    left: 27%;
  }

  /*** Les GOUTS ***/
  .gouts .wp-container-6,
  .wp-container-9 {
    width: 95%;
  }
  .gouts h3 {
    font-size: 35px;
  }

  /*** AVIS ***/
  .wp-block-group.alignfull.avis.is-layout-constrained.wp-container-22.wp-block-group-is-layout-constrained {
    width: 90%;
  }
  .avis .wp-image-165 {
    width: 340px!important;
  }
  .avis .wp-image-164 {
    width: 230px!important;
  }

  /****** NOUS RENCONTRER ******/
  /*** HEADER ***/
  .header {
    padding-top: 5vh!important;
  }
  .header .content {
    margin-top: -11vh;
  }

  /*** EQUIPE ***/
  .equipe .wp-block-columns.alignfull.membres.is-layout-flex.wp-container-6.wp-block-columns-is-layout-flex {
    width: 100%;
  }
  .equipe :where(body .is-layout-flex) {
    gap: 0;
  }
  .equipe .branche-g {
    top: 51em;
  }
  .equipe .wp-image-266 {
    width: 100px!important;
  }

  /*** CONTACT ***/
  .contact {
    background-position: bottom 21vh left 25%;
    background-size: 20%;
  }
  .contact .wpcf7-form.init {
    width: 40%;
  }

  /****** COMMANDE ******/
  /** Produits **/
  .woocommerce-js div.product form.cart div.quantity {
    margin: 0 10px 20px 0;
  }
  .woocommerce-js .quantity .plus {
    width: 22px;
  }

  /** Livraison **/
  .commande .wpcf7.js h3 {
    font-size: 25px;
  }
  .commande .btn {
    left: 35%;
    bottom: -15%;
  }
}


/***** Ecran 768px *****/

@media screen and (max-width:768px) {
  h1, .entry-content h1 {
    font-size: 30px;
  }
/****** ACCUEIL ******/
/** HEADER ***/

.header .wp-image-254 {
  width: 80%;
  margin-right: 0;
  }

  /** ENRJ plantes ***/
  .enrgplantes {
    padding-bottom: 80px!important;
  }
  .enrgplantes .bg-blanc {
    margin-top: -17vh;
  }
  .enrgplantes .content {
    top: 62vh;
    left: 22%;
  }

  /*** Les GOUTS ***/
  .wp-block-columns.is-layout-flex.wp-container-6.wp-block-columns-is-layout-flex,
  .wp-block-columns.is-layout-flex.wp-container-9.wp-block-columns-is-layout-flex {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .gouts .wp-container-6,
  .wp-container-9 {
    width: 70%;
  }

  /*** AVIS ***/
  .wp-block-group.alignfull.avis.is-layout-constrained.wp-container-22.wp-block-group-is-layout-constrained {
    width: 70%;
  }
  .wp-container-21.wp-container-21 {
    gap: 100px 0!important;
  }
  .wp-container-13.wp-container-13,
  .wp-container-16.wp-container-16,
  .wp-container-19.wp-container-19 {
    gap: 60px;
  }
  .avis .wp-image-162 {
    width: 190px!important;
  }
  .avis .wp-image-164,
  .avis .wp-image-165 {
    width: 170px!important;
  }

  /****** NOUS RENCONTRER ******/
  /*** HEADER ***/
  .header .wp-image-261 {
    width: 20%;
  }
  .header .content {
    width: 60%;
  }

  /*** EQUIPE ***/
  .equipe .wp-block-columns {
    flex-wrap: nowrap!important;
  }
  .equipe .branche-g {
    display: none;
  }

  /*** CONTACT ***/
  .contact {
    background-position: bottom 18vh left 7%;
    background-size: 30%;
  }
  .contact .wpcf7-form.init {
    width: 60%;
  }

  /****** COMMANDE ******/
  .commande {
    padding-left: 0!important;
  }
  .wp-container-14.wp-container-14 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 90%!important;
  }

  /** Produits **/
  .commande .wp-block-columns {
    flex-wrap: nowrap!important;
  }
  .commande .wp-container-13.wp-container-13 {
    gap: 30px;
  }
  .commande form {
    flex-direction: column;
  }
  .woocommerce-js div.product {
    margin-top: 0;
  }
  .woocommerce-js input[type=number] {
    max-width: 80px;
  }
  .commande .quantity-controls {
    width: 50%;
  }
  .woocommerce-js .quantity .plus {
    width: 70px;
  }
  .woocommerce-js div.product form.cart {
    zoom: 1;
  }
  .woocommerce-js div.product form.cart div.quantity {
    margin: 0 0 10px 0;
  }
  .woocommerce-js div.product form.cart .button {
    width: 100%;
  }

  /** livraison **/
  .commande .btn {
    left: 37%;
    bottom: -20%;
  }
  input[type="submit"] {
    padding-right: 45px;
    padding-left: 45px;
  }
}


/***** Ecran 500px *****/

@media screen and (max-width:500px) {

  h1, .entry-content h1 {
    font-size: 25px;
  }

/****** ACCUEIL ******/
/** HEADER ***/
  .header .wp-image-254 {
    height: 30vh!important;
    margin-top: -70px;
    width: 70%!important;
    margin-right: 30px;
  }

  /** ENRJ plantes ***/
  .enrgplantes {
    padding-bottom: 30%!important;
  }
  .enrgplantes .bg-blanc {
    margin-top: -11vh;
  }
  .enrgplantes .content {
    top: 37vh;
    left: 2%;
    padding: 0 10px;
  }

  /*** Les GOUTS ***/
  .gouts {
    padding: 40px 14px!important;
  }
  .gouts h2 {
    font-size: 25px;
  }
  .gouts h3 {
    font-size: 26px;
  }

  /*** AVIS ***/
  .avis {
    padding-top: 40px!important;
  }
  .avis h2 {
    font-size: 25px!important;
  }
  .wp-container-21.wp-container-21 {
    gap: 30px 0!important;
  }
  .wp-container-13.wp-container-13, .wp-container-16.wp-container-16, .wp-container-19.wp-container-19 {
    gap: 30px;
  }
  .avis .wp-image-164 {
    width: 100px!important;
  }

  /****** NOUS RENCONTRER ******/
  /*** HEADER ***/
  .header {
    padding-top: 3vh!important;
    padding-left: 0!important;
  }
  .header .wp-image-261 {
    width: 17%;
    margin-left: 17px;
  }
  .header .content {
    width: 80%;
    margin-top: -50px;
  }
  .header h1 {
    font-size: 23px;
  }

  /*** EQUIPE ***/
  .equipe .wp-block-columns {
    flex-wrap: wrap!important;
  }
  .equipe .content {
    padding-top: 30px;
  }

  /****** COMMANDE ******/
  .wp-container-14.wp-container-14 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 80%!important;
  }
  
  /** Produits **/
  .wp-block-columns {
    flex-direction: column;
  }
  .commande form {
    flex-direction: row;
  }
  .woocommerce-js div.product form.cart div.quantity {
    margin: 0 10px 14px 0;
    width: 100%;
  }
  .woocommerce-js .quantity .plus {
    width: 94px;
  }
  .woocommerce-js .quantity .minus, .woocommerce-js .quantity .plus {
    height: 30px;
  }
  .commande button[type="submit"] {
    height: 60px;
  }

  /** Livraison **/
  .commande .wpcf7-form.init {
    flex-direction: column;
  }
  .col-left,
  .col-right {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    border-right: none;
  }
  .commande .btn {
    left: 21%;
    bottom: -10%;
  }
  input[type="submit"] {
    padding-right: 70px;
    padding-left: 70px;
  }
}


/***** Ecran 425px *****/

@media screen and (max-width:425px) {

  /*** ENRJ plantes ***/
  .enrgplantes {
    padding-bottom: 50%!important;
  }
  .enrgplantes .content {
    top: 40vh;
    left: 0;
  }
  .enrgplantes .bg-blanc {
    margin-top: -9vh;
  }

  /*** Les GOUTS ***/
  .gouts .wp-container-6, .wp-container-9 {
    width: 90%;
  }

  /*** AVIS ***/
  .wp-block-group.alignfull.avis.is-layout-constrained.wp-container-22.wp-block-group-is-layout-constrained {
    width: 80%;
  }
  .avis .wp-image-162 {
    width: 140px!important;
  }

  /****** COMMANDE ******/
  /** Produits **/
  .woocommerce-js .quantity .plus {
    width: 80px;
  }

  /** Livraison **/
  .commande .btn {
    left: 15%;
    bottom: -12%;
  }
}

/***** Ecran 375px *****/
@media screen and (max-width:375px) {
  /****** ACCUEIL ******/
  /*** HEADER ***/
  .header {
    padding-top: 40px;
  }

  /** ENRJ plantes ***/
  .enrgplantes .bg-blanc {
    margin-top: -8vh;
  }
  .enrgplantes .content {
    top: 37vh;
  }

  /*** AVIS ***/
  .avis h2 {
    font-size: 20px!important;
  }
  .avis h3 {
    font-size: 20px;
    margin-bottom: 10px!important;
  }
  .avis .wp-image-162 {
    width: 200px!important;
  }
  .avis .wp-image-164 {
    width: 175px!important;
  }
  .avis .wp-image-165 {
    width: 240px!important;
  }


  /****** NOUS RENCONTRER ******/
  /*** HEADER ***/
  .header figure {
    display: none;
  }
  .header .content {
    margin-top: 0;
  }

  /*** CONTACT ***/
  .contact {
    background-image: none;
  }
  .contact .wpcf7-form.init {
    width: 80%;
  }

  /****** COMMANDE ******/
  /** Produits **/
  .woocommerce-js .quantity .plus {
    width: 65px;
  }

  /** Livraison **/
  .commande .btn {
    left: 10%;
  }
}